html {
	display: inline-block;
}

body {
	font-family: "Lato", sans-serif;
	margin: auto;
	text-align: center;
}

/*Pg 1*/

h2 {
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 28px;
	text-align: center;
}

select {
	margin: auto;
	padding: 100px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 24px;
	height: 100px;
}

select:hover {
	color: #D3EAFC;
}

img {
	margin: auto;
	padding-top: 50px;
}

#addMore {
	border: solid 1px, #D3EAFC;
	border-radius: 50%;
	padding: 10px;
}

/*PG 2*/

/*Buttons*/

/*button#initEmployeeInfoModal {
	margin: auto;
	margin-top: 3%;
}*/

button#createNewEmployeeTab {
	margin-top: 8%;
}

button#seeAll {
	display: block;
	vertical-align: top;
	margin-top: 0%;
	/*margin-bottom: 3%;*/
	/*margin: auto;*/
	float: right;
	margin-right: 50px;
}

/*Tabs*/

.nav-tabs {
	border-bottom: none;
}


ul#tabs {
	list-style-type: none;
	margin: 5% 20% 0 10%;
/*	padding: 0.3em 0.5em 0 0.5em;*/
}

ul#tabs li {
	display: inline;
	width: 100px;
	padding: 0.5em 0 0 0.5em;
}

ul#tabs li#all {
	float: right;
	margin-right: 3%;
}

ul#tabs li a {
	color: #42454a;
	background-color: #dedbde;
	border-bottom: none;
	font-size: 1.2em;
	padding: 0.7em 0.3em 0.38em 0.3em;
	margin-left:3%;
	margin-right:3%;
	text-decoration: none;
}

ul#tabs li a:hover {
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000;
	background-color: #f1f0ee;
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.7em 0.3em 0.38em 0.3em;
}

/*Tables*/

div.tabContent {
	padding: 5%;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 8%;
	border-radius: 8px;
	background-color: #f1f0ee;
}

div.tabContent.hide {
	display: none;
}

table {
	font-family: "Lato", sans-serif;
	border-collapse: separate;
	border-spacing: 10px 0px;
}

.container {
	font-family: "Lato", sans-serif;
	
}

th {
	text-align: center;
	padding-bottom: 7px;
}

td {
	width: 100px;
	height: 40px;
}

td.timelabel {
	padding-right: 15px;
	width: 1%;
	text-align: right;
	vertical-align: top;
	border: none;
}

td.daylabel {
	border: none;
}

/*Shifts*/

[data-status="available"] {
	background-color: #FFE60E;
}

[data-status="notAvailable"] {
	background-color: #444A4F;
}



/*Overlays*/
#overlay1 {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay1 div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

#overlay2 {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay2 div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}